
:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --background-dark: rgba(49, 11, 0, 0.8);
}

html {
  font-size: 1rem;
}

body {
  /* font-family:  */
  color: var(--font-color);
  background-image: url('./images/david-hunter-xhOkqfXYls8-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#header {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--background-dark);
}

h1 {
  margin: 15px 0px 15px;
}

.nav-btns {
  display: flex;
  font-size: 2.5rem;
  margin: auto;
  margin-bottom: 15px;
}


/* .nav-btns:hover {

}

.nav-btns:active {
  border-bottom: 2px solid var(--font-color);
} */

#homeBtn, #menuBtn {
  margin-right: 30px;
}

/* MAIN */

#home-content, 
#menu-content,
#contact-content {
  border-radius: 45px;
  max-width: 700px;
  padding: 30px;
  margin: 95px;
  font-size: 2rem;
  background-color: var(--background-dark);
  animation: fadeIn 1.5s;
}

/* HOME PAGE */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  height: 525px;
  width: 618px;
}

#homeImg {
  width: 50%;
  border-radius: 50%;
}

/* MENU PAGE */

.dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
  border-radius: 45px;
  background-color: rgb(223, 55, 4);
  padding: 15px;
  margin-bottom: 30px;
}

h4 {
  margin: 10px 0px;
}

.dishes p {
  font-size: 1.7rem;
  margin-top: 7px;
}

.dishPics {
  padding-top: 20px;
  border-radius: 45px;
  height: 350px;
  justify-items: center;
}

/* ANIMATION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}