
:root {
  --font-color: #eee;
  --font-color-dark: #aaa;
  --background-dark: rgba(0, 0, 0, 0.8);
}

html {
  font-size: 1rem;
}

body {
  /* font-family:  */
  color: var(--font-color);
  background-image: url('./images/david-hunter-xhOkqfXYls8-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#header {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--background-dark);
}

/* MAIN */

#main-content {
  max-width: 700px;
  padding: 4rem;
  margin: 6rem 0;
  font-size: 2rem;
  background-color: var(--background-dark);
}

/* HOME PAGE */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s;
}

#homeImg {
  width: 60%;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}